Salaries by metro and non-metro regions
- https://www.bls.gov/oes/tables.htm
- https://www.bls.gov/oes/current/oes311131.htm
- https://www.bls.gov/oes/current/oes_stru.htm

Occupation employment numbers and educational requirements
- https://www.careeronestop.org/Toolkit/Careers/careers-largest-employment.aspx

In [24]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from tqdm.autonotebook import tqdm
from postdocsalary.paths import DATA_DIR, ensure_dir
import urllib.request
pd.set_option('display.max_columns', None)

In [26]:
non_metro_salary_df = pd.read_csv(DATA_DIR/ 'non-postdoc-salary'/ 'BOS_M2020_dl.csv')

In [27]:
metro_salary_df = pd.read_csv(DATA_DIR/ 'non-postdoc-salary'/ 'MSA_M2020_dl.csv')

In [28]:
non_metro_salary_df[:3]

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,O_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,PCT_TOTAL,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,100001,Northwest Alabama nonmetropolitan area,6,AL,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,"64,310",2.3,1000.000,1.00,NaN,18.31,"38,080",1.3,9.01,11.30,15.49,21.56,30.06,"18,730","23,500","32,220","44,840","62,520",NaN,NaN
1,100001,Northwest Alabama nonmetropolitan area,6,AL,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,"1,870",4.9,29.113,0.51,NaN,44.16,"91,850",2.6,18.68,28.65,39.56,53.30,76.90,"38,860","59,590","82,290","110,870","159,960",NaN,NaN
2,100001,Northwest Alabama nonmetropolitan area,6,AL,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,detailed,60,40.9,0.888,0.61,NaN,*,*,*,*,*,*,*,*,*,*,*,*,*,NaN,NaN

In [29]:
len(non_metro_salary_df), len(metro_salary_df)

(45308, 140051)

In [30]:
metro_salary_df[:20]

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,O_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,PCT_TOTAL,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,"66,060",1.9,1000.000,1.00,NaN,20.64,"42,930",1.8,9.13,11.40,16.41,24.82,36.23,"18,990","23,710","34,130","51,620","75,370",NaN,NaN
1,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,"2,910",4.5,44.068,0.77,NaN,42.87,"89,160",2.2,17.38,26.74,36.37,51.68,73.88,"36,150","55,620","75,640","107,500","153,670",NaN,NaN
2,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,detailed,"1,320",7.4,20.036,1.19,NaN,40.38,"83,990",3.5,12.67,24.02,32.96,50.11,72.93,"26,350","49,960","68,550","104,230","151,700",NaN,NaN
3,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-2022,Sales Managers,detailed,90,18.5,1.317,0.47,NaN,58.18,"121,020",7.6,26.23,35.90,52.41,68.01,#,"54,560","74,680","109,000","141,460",#,NaN,NaN
4,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-2030,Public Relations and Fundraising Managers,detailed,40,31.5,0.549,0.94,NaN,45.93,"95,540",20.7,28.71,32.78,36.24,41.23,83.81,"59,710","68,180","75,380","85,760","174,320",NaN,NaN
5,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-3010,Administrative Services and Facilities Managers,detailed,140,12.3,2.045,0.92,NaN,37.79,"78,600",3.5,24.93,28.28,35.06,45.45,55.25,"51,850","58,820","72,920","94,530","114,920",NaN,NaN
6,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-3021,Computer and Information Systems Managers,detailed,70,30.2,1.054,0.32,NaN,59.15,"123,040",8.5,26.29,35.72,56.28,71.04,97.75,"54,690","74,310","117,060","147,760","203,330",NaN,NaN
7,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-3031,Financial Managers,detailed,120,8.8,1.883,0.40,NaN,57.49,"119,580",9.6,25.74,34.93,46.19,62.85,#,"53,540","72,650","96,080","130,730",#,NaN,NaN
8,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-3051,Industrial Production Managers,detailed,50,22.3,0.761,0.59,NaN,54.65,"113,680",12.0,29.20,36.76,47.44,64.49,84.92,"60,730","76,460","98,680","134,140","176,630",NaN,NaN
9,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-3071,"Transportation, Storage, and Distribution Mana...",detailed,60,18.6,0.890,0.94,NaN,40.88,"85,030",3.8,30.53,34.41,39.63,47.38,51.38,"63,500","71,580","82,430","98,550","106,880",NaN,NaN
10,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-3121,Human Resources Managers,detailed,60,45.1,0.966,0.86,NaN,31.36,"65,240",10.0,16.96,19.39,23.41,39.57,57.38,"35,270","40,330","48,690","82,310","119,360",NaN,NaN
11,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-9021,Construction Managers,detailed,160,14.2,2.433,1.18,NaN,37.00,"76,950",6.7,18.13,26.34,30.71,40.70,67.20,"37,710","54,780","63,870","84,650","139,770",NaN,NaN
12,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-9032,"Education Administrators, Kindergarten through...",detailed,150,4.5,2.295,1.22,NaN,*,"77,110",2.4,*,*,*,*,*,"55,830","63,640","74,800","87,090","106,570",True,NaN
13,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-9051,Food Service Managers,detailed,50,28.9,0.814,0.58,NaN,26.52,"55,150",8.6,16.27,18.17,23.34,32.69,44.64,"33,850","37,780","48,550","67,990","92,850",NaN,NaN
14,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-9111,Medical and Health Services Managers,detailed,200,18.7,3.073,1.06,NaN,51.45,"107,010",6.5,26.80,34.70,46.90,60.50,76.16,"55,740","72,180","97,560","125,840","158,420",NaN,NaN
15,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-9141,"Property, Real Estate, and Community Associati...",detailed,60,35.6,0.929,0.59,NaN,*,*,*,*,*,*,*,*,*,*,*,*,*,NaN,NaN
16,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-9151,Social and Community Service Managers,detailed,60,17.3,0.948,0.85,NaN,30.01,"62,420",3.4,20.55,24.24,28.50,35.11,42.45,"42,750","50,410","59,280","73,020","88,300",NaN,NaN
17,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-9198,"Personal Service Managers, All Other; Entertai...",detailed,40,9.7,0.601,0.18,NaN,45.88,"95,440",5.9,17.13,33.29,44.76,56.43,77.79,"35,630","69,250","93,090","117,380","161,810",NaN,NaN
18,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,13-0000,Business and Financial Operations Occupations,major,"2,150",5.5,32.515,0.54,NaN,32.28,"67,140",2.3,16.48,21.89,29.35,38.69,50.26,"34,280","45,530","61,040","80,470","104,530",NaN,NaN
19,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,13-1020,Buyers and Purchasing Agents,detailed,100,16.0,1.571,0.52,NaN,25.00,"52,000",4.9,13.71,19.25,23.88,31.15,38.12,"28,510","40,050","49,670","64,790","79,280",NaN,NaN